@media (max-width: 370px) {
    header a img{
        width: 30px;
    }
    header ul li{
        font-size: 14px;
    }
    .circle-wrapper ul li{
        font-size: 30px;
    }
}
@media (min-width: 768px) {
    header ul li{
        margin-right: 20px;
    }
    header a img{
        width: 30px;
    }
    .slogan-wrapper{
        padding-left: 10%;
        align-items: flex-start;
    }
    #advantages{
        padding: 50px 0 0 10%;
    }
    .diagnostic-system{
        width: 90%;
        margin: 0 auto;
    }
    #description{
        background-color: var(--blue);
        margin: 50px 0;
        padding: 30px 10px;
        position: relative;
        display: flex;
    }
    .description-team{
        width: 60%;
        flex-shrink: 0;
    }
    .description-work{
        width: 40%;
        flex-shrink: 0;
    }
    .description-work-elem{
        width: 50%;
        padding: 5px;
    }
    .description-work-elem img{
        width: 40px;
        margin-bottom: 10px;
    }
    .description-work-arrow img{
        width: 20px;
    }
    .description-work a{
        width: 250px;
    }

    
    footer {
        display: flex;
    }
    .a-footer img{
        width: 30px;
    }
    .fidback{
        width: 50%;
        padding-top: 0;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .autor{
        width: 50%;
    }
}
@media (min-width: 1000px) {
    header{
        padding: 5px 150px;
    }
    .slogan-wrapper{
        padding-left: 20%;
    }
    #advantages{
        padding: 50px 0 20px 20%;
    }
    #carousel{
        background: linear-gradient(120deg, var(--blue),var(--blue-light), var(--blue));
    }
    .wrapper-slider{
        width: 70%;
        margin: 0 auto;
    }
    .slide{
        padding: 20px 50px 0 50px;
        background: transparent;
    }
    .problems-systems{
        display: flex;
        width: 90%;
        margin: 0 auto;
    }
    #problems h2{
        padding-top: 50px;
        margin-bottom: 30px;
    }
    .system-of-problem h3{
        margin-bottom: 20px;
    }
    .system-of-problem{
        margin-bottom: 0;
        margin-right: 20px;
    }
    #description{
        padding: 30px 10%;
    }
    
    .description-water{
        top: -200px;
        left: -100px;
    }
    .description-water-bottom{
        bottom: -40%;
        width: 400px;
        height: 400px;
    }
    .description-water-decor{
        margin-left: 100px;
        width: 400px;
        height: 400px;
    }
    #video{
        margin: 0 10%;
    }
    .video-card {
        height: 300px;
    }
}
@media (min-width: 1400px) {
    .advantages-water{
        top: -50px;
        right: 50px;
        width: 500px;
        height: 500px;
    }    
    .wrapper-slider{
        width: 50%;
    }
    .problems-systems{
        width: 80%;
    }    
    #description{
        padding: 30px 20%;
    }
    #video{
        margin: 0 20%;
    }
    footer {
        justify-content: end;
    }
    .a-footer img{
        width: 50px;
    }
    .fidback{
        width: 70%;
    }
    .autor{
        width: 30%;
    }
}